@charset "UTF-8";

.header, .nav {
  padding-right: 10px;
  padding-left: 10px;
}

.contents-wrapper {
  float: left;
  margin-right: -200px;
  width: 100%;
}

.aside {
  float: left;
  width: 180px;
  padding-right: 10px;
  padding-left: 10px;
}
