@charset "UTF-8";

.header, .nav {
  padding-right: 10px;
  padding-left: 10px;
}

.contents-wrapper {
  float: right;
  margin-left: -200px;
  width: 100%;
}

.main {
  margin-left: 200px;
  padding-right: 10px;
  padding-left: 10px;
}

.aside {
  float: right;
  width: 200px;
  padding-right: 10px;
  padding-left: 10px;
}
